.DAU{
    font-size: 30px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(240, 246, 246);
}

.duongdan{
    border-bottom: 1px solid rgb(96, 94, 94);
    border-top: 1px solid;
}

.duongdan ul{
    margin: 8px;
    text-align: center;
    background-color: white;
    padding: 5px 5px 5px 5px;
    
}

.duongdan ul li{
    list-style-type: none;
    display: inline;
    margin-left: 20px;
}

.duongdan ul li a:link{
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    padding: 4px;
}

.duongdan ul li a:hover{
    color: rgb(246, 4, 4);
    -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
   -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.93);
   box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.93);
}

.Khung1{
    margin: 5px;
    background-color: white;
    height: 500px;
    margin-left: 250px;
    margin-right: 250px;
}
.Khung2{
    background-color: rgb(255, 252, 252);
    width: 905px;
    height:98%;
    float: left;
    margin: 4px 4px 4px 4px;
}

.Khung3{
    background-color: rgb(251, 250, 250);
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/07/21/smart-city-dong-anh-4479-1689932540.jpg?w=680&h=0&q=100&dpr=2&fit=crop&s=VUTMAes_oxnU2n0UaBvuTg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 245px;
    height:98%;
    float: left;
    margin: 4px 4px 4px 4px;
    margin-left: 0px;
}

.Khung2_1{
    color: rgb(254, 254, 254);
    text-align: left;
    background-color: #fffdfd;
    margin: 4px 4px 4px 4px;
    height: 50%;
    float: left;
}

.Khung2_1 ul li{
    font-size: 20px;
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    display: inline;
    padding: 0px;
    padding-right: 20px;
    float: left;
}

.Khung2_1 ul li a:link{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.daude{
    font-size: 24px;
    margin: 5px;
    margin-left: 0px;
    color: black; 
    font-weight: bold; 
    text-transform: uppercase;
}

.Khung2_0{
    margin: 4px;
    margin-right: 0px;
    background-color: rgb(190, 195, 195);
    height: 230px;
    width: 565px;
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/08/21/369489195165688123816683582587-8610-8248-1692632980.jpg?w=680&h=408&q=100&dpr=2&fit=crop&s=WE6JnwETw88Rpj4xkbzGsw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.Khung2_3{
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(227, 230, 230, 0.989);
    float: left;
    width: 330px;
    height: 230px;
}

.Khung2_2{
    margin: 4px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    background-color: rgb(251, 254, 253);
    border-left: 2px solid rgb(181, 177, 177);
    float: left;
    width: 34%;
    height: 50%;
}

.gocnhin{
    font-size: 24px;
    line-height: 16px;
    color: #9f224e;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 10px;
    float: left;
}

.tien{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 10px;
    color: #0a0909;
    font-weight: bold;
    margin: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
    float: left; 
}

.nhakhoahoc{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0px;
    text-align: left;
    color: #0a0909;
    margin: 5px;
    width: 100%;
    line-height: 1.5;
}

.tacgia0{
    font-family: "Merriweather",serif;
    font-size: 18px;
    height: 50px;
    width: 70%;
    background-color: #fbfafa;
    font-style: italic;
    float: left;
}

.tacgia0 .kytagia{
    margin: 5px;
    margin-bottom: 0px;
    width: 60%;
    color: rgb(144, 143, 141);
    float: left;
}   

.anhtacgia{
    background-image: url("anh.JPG");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
    float: left;
}

.Khung2_3_1{
    background-color: rgba(227, 230, 230, 0.989);
    margin: 4px;
    margin-left: 25px;
    float: left;
    width: 80%;
    height: auto;
    font-family:"Merriweather",serif;
    text-align: left;
    font-size: 21px;
    line-height: 25px;
}
.Khung2_3_2{
    background-color: rgba(227, 230, 230, 0.989);
    margin: 4px;
    margin-left: 25px;
    float: left;
    width: 80%;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 16px;
    line-height: 23px;
}

.Khung4{
    margin: 5px;
    margin-top: 0px;
    background-color: white;
    height: auto;
    width: 1170px;
    margin-left: 250px;
    margin-right: 250px;
    float: left;
}

.Khung4 .danhmuc{
    margin: 4px;
    background-color: white;
    border-right: 2px solid silver;
    height: auto;
    width: 400px;
    float: left; 
}

.Khung4 .danhmuc .muc1 {
    margin: 4px;
    background-color: white;
    height:auto;
    width: 390px;
    float: left;  
}

.muc1_1{
    margin: 4px;
    background-color: white;
    color: #0a0909;
    font-family:Arial, Helvetica, sans-serif;
    height: auto;
    line-height: 20px;
    width: 382px;
    float: left;   
}

.muc1_2{
    margin: 4px;
    margin-top: 0px;
    background-color: white;
    height: 87px;
    width: 382px;
    float: left;   
}


.Khung4 .danhmuc .muc2 {
    margin: 4px;
    background-color: white;
    height: auto;
    width: 390px;
    float: left;  
}
.Khung4 .danhmuc .muc3 {
    margin: 4px;
    background-color: white;
    height: auto;
    width: 390px;
    float: left;  
}
.Khung4 .danhmuc .muc4 {
    margin: 4px;
    background-color: white;
    height: auto;
    width: 390px;
    float: left;  
}
.Khung4 .danhmuc .muc5 {
    margin: 4px;
    background-color: white;
    height: auto;
    width: 390px;
    float: left;  
}

.ghichu{
    margin: 4px;
    background-color: white;
    height: 10px;
    width: 390px;
    float: left;    
}

/* mục ảnh -------------------------*/

.muc1_2_anh{
    background-color: white;
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/08/21/HOA9393JPG1623240000jpeg453516-4178-2006-1692631470.jpg?w=220&h=132&q=100&dpr=2&fit=crop&s=7DOfdCXkGh1EffIFO3MHQA");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
    height: 87px;
    width: 150px;
    float: left;   
}

.muc1_2_anh1{
    background-color: white;
    background-image: url("https://i1-kinhdoanh.vnecdn.net/2023/08/21/china-real-estate-5859-1692605148.jpg?w=220&h=132&q=100&dpr=2&fit=crop&s=TwpBqycaiJTMlZJ_BKXK5A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
    height: 87px;
    width: 150px;
    float: left;   
}
.muc1_2_anh2{
    background-color: white;
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/08/22/2023-08-14t230410z-1037803445-3601-6578-1692637781.jpg?w=220&h=132&q=100&dpr=2&fit=crop&s=mqDREjo0Be4VE5KK0M_jLA");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
    height: 87px;
    width: 150px;
    float: left;   
}
.muc1_2_anh3{
    background-color: white;
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/08/19/thumbnail-img-3411-jpeg-169244-9624-4971-1692444322.jpg?w=220&h=132&q=100&dpr=2&fit=crop&s=3dTevvTfORgBrVqw856Ddg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
    height: 87px;
    width: 150px;
    float: left;   
}
.muc1_2_anh4{
    background-color: white;
    background-image: url("https://i1-vnexpress.vnecdn.net/2023/08/21/VNEMoon-1692607933-2518-1692607971.jpg?w=220&h=132&q=100&dpr=2&fit=crop&s=GkEQdtPliNh_3_LXUeiaeQ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 10px;
    height: 87px;
    width: 150px;
    float: left;   
}

.Khung5 ul{
    margin-bottom: 6px;
    text-align: left;

}

.Khung5 ul li{
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    font-size: 18px;
    color: black;
}

.Khung5 ul li a:link{
    text-decoration: none;
    background-color: white;
    padding: 2px;
}

.Khung5 ul li a:hover{
    color: blue;
    font-style: italic;
}

.khung6{
    margin:5px;
    background-color: white;
    float: left;
    width: 750px;
    height: 820px;
}

.khung6_1{
    margin: 4px;
    background-color: white;
    float: left;
    width: 742px;
    height: auto;
}

.khung6_1_1{
    margin: 4px;
    background-color: white;
    float: left;
    width: 470px;
    height: auto;
    border-right: 2px solid silver;
}

.khung6_1_1_anh{
    background-image: url("https://i1-kinhdoanh.vnecdn.net/2023/08/22/hohunganhjpg669115926383857343-4520-9553-1692697549.jpg?w=380&h=228&q=100&dpr=2&fit=crop&s=gIvXLsIqjOE0Oi-Ml08AIg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 150px;
    float: left;
    margin-right: 5px;
}

.khung6_1_1_cmt{
    margin: 3px;
    font-family: "Merriweather",serif;
    background-color: white;
    width: 200px;
    line-height: 20px;
    height: auto;
    float: left;
}

.khung6_1_1_cmt0{
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 20px;
    background-color: white;
    width: 220px;
    height: auto;
    float: left;
}

.khung6_1_2{
    margin: 4px;
    margin-left: 0px;
    background-color: white;
    float: left;
    width: 250px;
    height: 150px;
}

.khung6_1_2 .d1{
    margin: 4px;
    background-color: white;
    width: 240px ;
    height: 50px;
    line-height: 20px;
    float: left;
}

.khung6_1_2 .d2{
    margin: 4px;
    background-color: white;
    width: 240px;
    height: 80px;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    float: left;
}

.khung6_2{
    margin: 2px;
    height: auto;
    background-color: white;
}
.m1{
    margin: 2px;
background-color: white;
font-size: 16px;
font-family: "Merriweather",serif;
width: 200px;
line-height: 23px;
padding: 20px;
padding-top: 10px;
float: left;
height: auto;
}

.m2{
    margin: 2px;
    font-family: "Merriweather",serif;
background-color: white;
font-size: 16px;
width: 200px;
line-height: 23px;
padding: 20px;
padding-top: 10px;
float: left;
height: auto;
}

.m3{
    margin: 2px;
    font-family: "Merriweather",serif;
background-color: white;
font-size: 16px;
width: 200px;
line-height: 23px;
padding: 20px;
padding-top: 10px;
float: left;
height: auto;
}

.tb{
    margin: 20px;
    background-color: rgb(199, 239, 239);
    border-color: #CEDAF2;
}

